@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #ffffff;
}

body {
  background:
    linear-gradient(
      135deg,
      #050505 0%,
      #0a0a0a 35%,
      #121212 100%
    );

  color: white;
}
.gold-glow {
  box-shadow:
    0 0 10px rgba(234,179,8,.4),
    0 0 30px rgba(234,179,8,.2);
}

.card-glow:hover {
  box-shadow:
    0 0 20px rgba(234,179,8,.6),
    0 0 50px rgba(234,179,8,.25);
}

