@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #ffffff;
}

body {
  background:
    radial-gradient(circle at top left, rgba(168,85,247,.25), transparent 30%),
    radial-gradient(circle at top right, rgba(234,179,8,.20), transparent 30%),
    radial-gradient(circle at bottom, rgba(139,92,246,.15), transparent 40%),
    #030712;

  color: white;
  min-height: 100vh;
}

.gold-glow {
  box-shadow:
    0 0 10px rgba(234,179,8,.4),
    0 0 30px rgba(234,179,8,.2);
}

.card-glow:hover {
  box-shadow:
    0 0 20px rgba(234,179,8,.6),
    0 0 50px rgba(234,179,8,.25);
}

